@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #3d3b48;
    --red: #ff7979;
    --green: #38cc8b;
    --purple: #5e54a4;
    --white: #f5f5f5;
}

body {
    /* padding: 2em; */
    background-color: var(--red);
    background-image: url(./images/bg-intro-desktop.png);
    color: var(--white) ;
    font-family: 'Poppins', sans-serif;
    
}

/* Layout */

.container {
    width: 70%;
    margin: 5em auto;
    display: flex;
}

.title{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
}
    .title h1 {
        margin-bottom: 1em;
    }
    .title p {
        padding-right: 3em;
    }

/* =======================================*/

.content {
    width: 50%;
}
.content .subscribe {
    text-align: center;
    padding: 1em;
    background-color: var(--purple);
    border-radius: 10px;
    margin-bottom: 2em;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}
    .subscribe:hover{filter: brightness(1.2)}

    .subscribe p {
        font-weight: 500;
    }
    .subscribe p span{
        font-weight: 400;
        color: #f5f5f593;
    }



.content .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
}
    .form .input {
        width: 100%;
    }
    .form input {
        width: 100%;
        padding: 1.2em;
        border-radius: 5px;
        margin-bottom: .8em;
        outline: none;
        border: 1px solid rgb(197, 196, 196);
        
    }
    .form input::placeholder {
        padding: 1em;
    }
    .form .error {
        width: 100%;
        margin-bottom: .5em;
        text-align: right;
        color: var(--red);
        font-weight: 300;
        display: none;
        
    }
    /* Error Handling class */
        .show p{
            display: block !important;
        }
        .show input {
            background-image: url(./images/icon-error.svg);
            background-repeat: no-repeat;
            background-position: center right 10px;
        }
    /* ==================================================== */

    .form button {
        width: 100%;
        padding: 1.2em;
        border-radius: 5px;
        border: none;
        background-color: var(--green);
        color: var(--white);
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 1em;
        cursor: pointer;
    }
        .form button:hover{filter: brightness(1.1)}

    .form .terms {
        color: #808080;
        font-size: .7em;
        text-align: center;
        margin-bottom: 2em;
        width: 80%;
    }
    .form p span {
        color: var(--red);
        cursor: pointer;
    }
    .form p span:hover {
        filter: saturate(4);
    }



/* Media */
@media (max-width: 920px) {
    .container {
        padding: 2em;
        width: 100%;
    }
}

@media (max-width: 620px) {
    body {
        background-image: url(./images/bg-intro-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        padding: 2em;
    }

    .title {
        width: 100%;
        text-align: center;
        margin-top: 3em;

    }
        .title h1 {
            margin-bottom: 1em;
        }
        .title p {
            margin-bottom: 3em;
        }

    .content {
        width: 100%;
    }
}

